<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">

	<title>DU calculator</title>
</head>
<body>
  <div id="app" data-v-app="">
    <div class="navline">
      <div class="navblock"><a href="https://du.cpdev.lt/" class="router-link-active router-link-exact-active"
          aria-current="page">Atlyginimo skaičiuoklė</a><a href="https://du.cpdev.lt/dienpinigiai"
          class="">Dienpinigiai</a></div>
    </div>
    <header data-v-10c0579f="">
      <h1 class="project-name" data-v-6f40d0ea="" data-v-10c0579f="">Atlyginimo skaičiuoklė</h1>
    </header>
    <main data-v-10c0579f="">
      <div class="btn-box" data-v-398a12e6="" data-v-01521df5=""><button value="1" data-v-398a12e6=""
          style="display: none;"> Skaičiuoti DU be palyginimo </button><button value="2" data-v-398a12e6=""> Palyginti
          du paskaičiavimus pagal darbo vietos kaina </button><button data-v-398a12e6=""> Ištrinti paskaičiavimus ir
          užkrauti pradinį lapą </button><button data-v-398a12e6=""> Parodyti papildoma informacija </button><button
          data-v-398a12e6="" style="display: none;"> Paslepti papildoma informacija </button></div>
      <div class="link-holder" data-v-01521df5=""><button class="btn-small btn-save" data-v-01521df5=""> Išsaugoti
          paskaičiavimus naršyklėje </button><button class="btn-small btn-link" data-v-01521df5=""> Gauti nuoroda
        </button><button class="btn-small btn-load" data-v-01521df5=""> Užkrauti išsaugotus paskaičiavimus </button>
      </div>
      <div class="holder" data-v-01521df5="">
        <div data-v-01521df5="">
          <div id="example" class="main-holder" data-v-766d4fe4="" data-v-01521df5="">
            <div id="calculator" class="calculator one-calculator" data-v-766d4fe4="">
              <div class="setting-container" data-v-766d4fe4="">
                <h4 data-v-766d4fe4="" style="display: none;">Darbo vietos kainos lygios</h4>
                <div class="salary-input-container" data-v-c6a70c32="" data-v-766d4fe4="" style="display: none;">
                  <div class="salary-input-holder" data-v-d4a00cde="" data-v-c6a70c32=""><label for="amount-netto-hour"
                      data-v-d4a00cde="">Val. atlygis į rankas</label><input id="amount-netto-hour" type="text"
                      data-v-d4a00cde="" style="background-color: white;"></div>
                  <div class="salary-input-holder" data-v-d4a00cde="" data-v-c6a70c32=""><label for="amount-brutto-hour"
                      data-v-d4a00cde="">Val. atlygis sutartije</label><input id="amount-brutto-hour" type="text"
                      data-v-d4a00cde="" style="background-color: white;"></div>
                  <div class="salary-input-holder" data-v-d4a00cde="" data-v-c6a70c32=""><label for="hours"
                      data-v-d4a00cde="">Darbo val.kiekis</label><input id="hours" type="text" data-v-d4a00cde=""
                      style="background-color: white;"></div>
                </div>
                <div class="salary-input-container" data-v-15472b7a="" data-v-766d4fe4="">
                  <div class="salary-input-holder" data-v-d4a00cde="" data-v-15472b7a=""><label for="amount-netto"
                      data-v-d4a00cde="">Suma į rankas</label><input id="amount-netto" type="text" data-v-d4a00cde=""
                      style="background-color: white;"></div>
                  <div class="salary-input-holder" data-v-d4a00cde="" data-v-15472b7a=""><label for="amount-brutto"
                      data-v-d4a00cde="">Suma sutartyje</label><input id="amount-brutto" type="text" data-v-d4a00cde=""
                      style="background-color: white;"></div>
                  <div class="salary-input-holder" data-v-d4a00cde="" data-v-15472b7a=""><label for="amount-total"
                      data-v-d4a00cde="">Darbo vietos kaina</label><input id="amount-total" type="text" readonly=""
                      data-v-d4a00cde="" style="background-color: lightgray;"></div>
                </div>
                <div id="calculatorInfo" class="calculator-input" result="-1" moreinfo="false" data-v-63d86454=""
                  data-v-766d4fe4="">
                  <div class="container" data-v-63d86454="">
                    <div class="setting-box" data-v-c7ceb77c="" data-v-63d86454="">
                      <div data-v-c7ceb77c="">
                        <p class="title" data-v-c7ceb77c="">Papildoma pensijos įmoka</p>
                      </div>
                      <div data-value="0" class="choice active" data-v-c7ceb77c="">
                        <p data-value="0" data-v-c7ceb77c="">0%</p>
                      </div>
                      <div data-value="1" class="choice" data-v-c7ceb77c="">
                        <p data-value="1" data-v-c7ceb77c="">3%</p>
                      </div>
                    </div>
                  </div>
                  <div class="container" data-v-63d86454="">
                    <div class="setting-box" data-v-c7ceb77c="" data-v-63d86454="">
                      <div data-v-c7ceb77c="" style="display: none;">
                        <p class="title" data-v-c7ceb77c=""></p>
                      </div>
                      <div data-value="0" class="choice active" data-v-c7ceb77c="">
                        <p data-value="0" data-v-c7ceb77c="">NPD taikyti</p>
                      </div>
                      <div data-value="1" class="choice" data-v-c7ceb77c="">
                        <p data-value="1" data-v-c7ceb77c="">NPD netaikyti</p>
                      </div>
                    </div>
                    <div class="setting-box" data-v-c7ceb77c="" data-v-63d86454="">
                      <div data-v-c7ceb77c="" style="display: none;">
                        <p class="title" data-v-c7ceb77c=""></p>
                      </div>
                      <div data-value="0" class="choice active" data-v-c7ceb77c="">
                        <p data-value="0" data-v-c7ceb77c="">Sodros grindys taikomos</p>
                      </div>
                      <div data-value="1" class="choice" data-v-c7ceb77c="">
                        <p data-value="1" data-v-c7ceb77c="">Sodros grindys netaikomos</p>
                      </div>
                    </div>
                  </div>
                  <div class="container" data-v-63d86454="">
                    <div class="setting-btn-container" data-v-63d86454="">
                      <div class="div-btn" data-v-63d86454="">
                        <div class="btn" data-v-63d86454=""></div>
                        <p class="active" data-v-63d86454="">Paslepti nustatymus</p>
                        <p class="" data-v-63d86454="">Parodyti nustatymus</p>
                      </div>
                    </div>
                    <div class="setting-btn-container" data-v-63d86454="">
                      <div class="div-btn" data-v-63d86454="">
                        <div class="btn" data-v-63d86454=""></div>
                        <p class="active" data-v-63d86454="">Slepti val. skaičiavimus</p>
                        <p class="" data-v-63d86454="">Rodyti val. skaičiavimus</p>
                      </div>
                    </div>
                  </div>
                  <div class="container" data-v-63d86454="" style="display: none;">
                    <div class="setting-box long" data-v-c7ceb77c="" data-v-63d86454="">
                      <div data-v-c7ceb77c="" style="display: none;">
                        <p class="title" data-v-c7ceb77c=""></p>
                      </div>
                      <div data-value="0" class="choice active" data-v-c7ceb77c="">
                        <p data-value="0" data-v-c7ceb77c="">Pilnai darbingas</p>
                      </div>
                      <div data-value="1" class="choice" data-v-c7ceb77c="">
                        <p data-value="1" data-v-c7ceb77c="">Gaunu senatvės pensija</p>
                      </div>
                      <div data-value="2" class="choice" data-v-c7ceb77c="">
                        <p data-value="2" data-v-c7ceb77c="">30-55 procentų darbingumo lygis</p>
                      </div>
                      <div data-value="3" class="choice" data-v-c7ceb77c="">
                        <p data-value="3" data-v-c7ceb77c="">0-25 procentų darbingumo lygis</p>
                      </div>
                    </div>
                  </div>
                  <div class="container" data-v-63d86454="" style="display: none;">
                    <div class="setting-box" data-v-c7ceb77c="" data-v-63d86454="">
                      <div data-v-c7ceb77c="" style="display: none;">
                        <p class="title" data-v-c7ceb77c=""></p>
                      </div>
                      <div data-value="0" class="choice active" data-v-c7ceb77c="">
                        <p data-value="0" data-v-c7ceb77c="">Lietuvos pilietis</p>
                      </div>
                      <div data-value="1" class="choice" data-v-c7ceb77c="">
                        <p data-value="1" data-v-c7ceb77c="">Kitos šalies pilietis</p>
                      </div>
                    </div>
                    <div class="setting-box" data-v-c7ceb77c="" data-v-63d86454="">
                      <div data-v-c7ceb77c="" style="display: none;">
                        <p class="title" data-v-c7ceb77c=""></p>
                      </div>
                      <div data-value="0" class="choice active" data-v-c7ceb77c="">
                        <p data-value="0" data-v-c7ceb77c="">Neterminuota sutartis</p>
                      </div>
                      <div data-value="1" class="choice" data-v-c7ceb77c="">
                        <p data-value="1" data-v-c7ceb77c="">Terminuota sutartis</p>
                      </div>
                    </div>
                  </div>
                  <div class="container" data-v-63d86454="" style="display: none;">
                    <div class="setting-box long" data-v-c7ceb77c="" data-v-63d86454="">
                      <div data-v-c7ceb77c="" style="display: none;">
                        <p class="title" data-v-c7ceb77c=""></p>
                      </div>
                      <div data-value="0" class="choice active" data-v-c7ceb77c="">
                        <p data-value="0" data-v-c7ceb77c="">I grupė</p>
                      </div>
                      <div data-value="1" class="choice" data-v-c7ceb77c="">
                        <p data-value="1" data-v-c7ceb77c="">II grupė</p>
                      </div>
                      <div data-value="2" class="choice" data-v-c7ceb77c="">
                        <p data-value="2" data-v-c7ceb77c="">III grupė</p>
                      </div>
                      <div data-value="3" class="choice" data-v-c7ceb77c="">
                        <p data-value="3" data-v-c7ceb77c="">IV grupė</p>
                      </div>
                    </div>
                  </div>
                </div><button class="print-pdf" data-v-766d4fe4="" style="display: none;">download PDF</button>
              </div>
              <div class="result-container" data-v-766d4fe4="">
                <div class="taxes" data-v-18186c83="" data-v-766d4fe4="">
                  <div data-v-18186c83="">
                    <h3 data-v-18186c83="">Darbuotojo mokesčiai</h3>
                  </div>
                  <div class="tax-div" data-v-ff20b780="" data-v-18186c83="">
                    <div class="left" data-v-ff20b780="">GPM</div>
                    <div class="right" data-v-ff20b780="">
                      <p data-v-ff20b780="">0</p>
                    </div>
                  </div>
                  <div class="tax-div" data-v-ff20b780="" data-v-18186c83="">
                    <div class="left" data-v-ff20b780="">PSD</div>
                    <div class="right" data-v-ff20b780="">
                      <p data-v-ff20b780="">0</p>
                    </div>
                  </div>
                  <div class="tax-div" data-v-ff20b780="" data-v-18186c83="">
                    <div class="left" data-v-ff20b780="">VSD</div>
                    <div class="right" data-v-ff20b780="">
                      <p data-v-ff20b780="">0</p>
                    </div>
                  </div>
                  <div class="tax-div" data-v-ff20b780="" data-v-18186c83="">
                    <div class="left" data-v-ff20b780="">Papildoma įmoka pensijos kaupimui</div>
                    <div class="right" data-v-ff20b780="">
                      <p data-v-ff20b780="">0</p>
                    </div>
                  </div>
                  <div data-v-18186c83="">
                    <h3 data-v-18186c83="">Darbdavio mokesčiai</h3>
                  </div>
                  <div class="tax-div" data-v-ff20b780="" data-v-18186c83="">
                    <div class="left" data-v-ff20b780="">Garantinis fondas</div>
                    <div class="right" data-v-ff20b780="">
                      <p data-v-ff20b780="">0</p>
                    </div>
                  </div>
                  <div class="tax-div" data-v-ff20b780="" data-v-18186c83="">
                    <div class="left" data-v-ff20b780="">Ilgalaikio darbo išmokų fondas</div>
                    <div class="right" data-v-ff20b780="">
                      <p data-v-ff20b780="">0</p>
                    </div>
                  </div>
                  <div class="tax-div" data-v-ff20b780="" data-v-18186c83="">
                    <div class="left" data-v-ff20b780="">Nelaimingų atsitikimų darbe draudimas</div>
                    <div class="right" data-v-ff20b780="">
                      <p data-v-ff20b780="">0</p>
                    </div>
                  </div>
                  <div class="tax-div" data-v-ff20b780="" data-v-18186c83="">
                    <div class="left" data-v-ff20b780="">Nedarbo socialinis draudimas</div>
                    <div class="right" data-v-ff20b780="">
                      <p data-v-ff20b780="">0</p>
                    </div>
                  </div>
                  <div class="tax-div" data-v-ff20b780="" data-v-18186c83="">
                    <div class="left" data-v-ff20b780="">Mokesčio suma dėl Sodros grindų</div>
                    <div class="right" data-v-ff20b780="">
                      <p data-v-ff20b780="">0</p>
                    </div>
                  </div>
                  <div class="tax-div" data-v-ff20b780="" data-v-18186c83="">
                    <div class="left" data-v-ff20b780="">Viso</div>
                    <div class="right" data-v-ff20b780="">
                      <p data-v-ff20b780="">0</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="info-container" citizen="true" data-v-65721c23="" data-v-766d4fe4="" style="display: none;">
                <h3 data-v-65721c23="">Papildoma informacija</h3>
                <div class="tax-div" data-v-ff20b780="" data-v-65721c23="">
                  <div class="left" data-v-ff20b780="">Metinė alga iki mokesčių</div>
                  <div class="right" data-v-ff20b780="">
                    <p data-v-ff20b780="">0</p>
                  </div>
                </div>
                <div class="tax-div" data-v-ff20b780="" data-v-65721c23="">
                  <div class="left" data-v-ff20b780="">Metinė alga į rankas</div>
                  <div class="right" data-v-ff20b780="">
                    <p data-v-ff20b780="">0</p>
                  </div>
                </div>
                <p data-v-65721c23="">Žemiau esanti informacija yra preliminari ir sudaryta su prielaida, kad
                  skaičiojamas DU yra pastovus, dirbama 5 dienos per savaitė ir mėnesije yra 21 darbo diena</p>
                <div class="input-holder" data-v-65721c23="">
                  <div class="salary-input-holder" data-v-d4a00cde="" data-v-65721c23=""><label for="sickdays"
                      data-v-d4a00cde="">Ligos dienų kiekis</label><input id="sickdays" type="text" data-v-d4a00cde=""
                      style="background-color: white;"></div>
                </div>
                <div class="tax-div" data-v-ff20b780="" data-v-65721c23="">
                  <div class="left" data-v-ff20b780="">Darbdavis moka už ligonlapio pirmos 2 ligos dienos, suma iki
                    mokesčių atskaitos</div>
                  <div class="right" data-v-ff20b780="">
                    <p data-v-ff20b780="">0</p>
                  </div>
                </div>
                <div class="tax-div" data-v-ff20b780="" data-v-65721c23="">
                  <div class="left" data-v-ff20b780="">Darbdavis moka už ligonlapį pirmos 2 ligos dienos, suma po
                    mokesčių</div>
                  <div class="right" data-v-ff20b780="">
                    <p data-v-ff20b780="">0</p>
                  </div>
                </div>
                <div class="tax-div" data-v-ff20b780="" data-v-65721c23="">
                  <div class="left" data-v-ff20b780="">Sodra moka už ligonlapį pradedant nuo 3 ligos dienos, suma iki
                    mokesčių atskaitos</div>
                  <div class="right" data-v-ff20b780="">
                    <p data-v-ff20b780="">0</p>
                  </div>
                </div>
                <div class="tax-div" data-v-ff20b780="" data-v-65721c23="">
                  <div class="left" data-v-ff20b780="">Sodra moka už ligonlapį pradedant nuo 3 ligos dienos, suma po
                    mokesčių</div>
                  <div class="right" data-v-ff20b780="">
                    <p data-v-ff20b780="">0</p>
                  </div>
                </div>
                <div class="tax-div" data-v-ff20b780="" data-v-65721c23="">
                  <div class="left" data-v-ff20b780="">Pasirinkus gauti išmoką iki vaikui sueis vieni metai, suma iki
                    mokesčių per mėnesį</div>
                  <div class="right" data-v-ff20b780="">
                    <p data-v-ff20b780="">0</p>
                  </div>
                </div>
                <div class="tax-div" data-v-ff20b780="" data-v-65721c23="">
                  <div class="left" data-v-ff20b780="">Pasirinkus gauti išmoką iki vaikui sueis vieni metai, suma iki
                    mokesčių per mėnesį</div>
                  <div class="right" data-v-ff20b780="">
                    <p data-v-ff20b780="">0</p>
                  </div>
                </div>
                <div class="tax-div" data-v-ff20b780="" data-v-65721c23="">
                  <div class="left" data-v-ff20b780="">Pasirinkus išmoką gauti iki vaikui sueis dveji metai, suma iki
                    mokesčių už 1 metus per mėnesį</div>
                  <div class="right" data-v-ff20b780="">
                    <p data-v-ff20b780="">0</p>
                  </div>
                </div>
                <div class="tax-div" data-v-ff20b780="" data-v-65721c23="">
                  <div class="left" data-v-ff20b780="">Pasirinkus išmoką gauti iki vaikui sueis dveji metai, suma iki
                    mokesčių už 1 metus per mėnesį</div>
                  <div class="right" data-v-ff20b780="">
                    <p data-v-ff20b780="">0</p>
                  </div>
                </div>
                <div class="tax-div" data-v-ff20b780="" data-v-65721c23="">
                  <div class="left" data-v-ff20b780="">Pasirinkus išmoką gauti iki vaikui sueis dveji metai, suma iki
                    mokesčių už 2 metus per mėnesį</div>
                  <div class="right" data-v-ff20b780="">
                    <p data-v-ff20b780="">0</p>
                  </div>
                </div>
                <div class="tax-div" data-v-ff20b780="" data-v-65721c23="">
                  <div class="left" data-v-ff20b780="">Pasirinkus išmoką gauti iki vaikui sueis dveji metai, suma iki
                    mokesčių už 2 metus per mėnesį</div>
                  <div class="right" data-v-ff20b780="">
                    <p data-v-ff20b780="">0</p>
                  </div>
                </div>
                <p data-v-65721c23="">Maksimalus kompensuojamas uždarbis vaiko priežiūros išmokoms apskaičiuoti negali
                  viršyti dviejų šalies vidutinių mėnesinių darbo užmokesčių, galiojusių už praeitą ketvirtį iki teisės
                  gauti vaiko priežiūros išmoką atsiradimo dienos, dydžio. Skaičiuoklė "lubų" netaiko, nes "lubos" yra
                  kintamos ir kiekviename ketvirtije skirtingos</p>
                <p data-v-65721c23=""></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
</html>